<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>761105963289-nq2qn0pd8n0kaahktvrvgii2d9gdu5hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761105963289-nq2qn0pd8n0kaahktvrvgii2d9gdu5hg</string>
	<key>API_KEY</key>
	<string>AIzaSyDjvKf0KiFNOiOnCb0jO5C2F8whejuFlIY</string>
	<key>GCM_SENDER_ID</key>
	<string>761105963289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Event-Management</string>
	<key>PROJECT_ID</key>
	<string>event-management-2c06a</string>
	<key>STORAGE_BUCKET</key>
	<string>event-management-2c06a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761105963289:ios:e29320b8aa02de04</string>
	<key>DATABASE_URL</key>
	<string>https://event-management-2c06a.firebaseio.com</string>
</dict>
</plist>